# Testing the prophet package

In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd

Reding data

In [11]:
health = pd.read_csv('data/health_data.csv')

In [12]:
health.head().to_csv('data/health_data_example.csv', index_label=False)

In [13]:
health.describe()

,Active Calories (kcal),Distance (mi),Flights Climbed (count),NikeFuel (count),Resting Calories (kcal),Steps (count),Weight (kg)
count,1614.000000,1614.000000,1614.000000,1614.0,1614.0,1614.000000,1614.000000
mean,2.818979,3.059519,3.964064,0.0,0.0,7981.591816,3.845415
std,50.105991,2.355298,7.325353,0.0,0.0,6081.312015,16.317286
min,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
25%,0.000000,0.399622,0.000000,0.0,0.0,1978.380746,0.000000
50%,0.000000,3.174031,0.000000,0.0,0.0,8258.015243,0.000000
75%,0.000000,4.588936,6.000000,0.0,0.0,12058.750000,0.000000
max,1075.000000,13.759443,41.000000,0.0,0.0,34603.327659,75.999998

In [15]:
sleep = pd.read_csv('data/sleep_analysis.csv')
sleep.head().to_csv('data/sleep_analysis_example.csv', index_label=False)

In [16]:
sleep.describe()

,Minutes in bed,Minutes asleep,Time to fall sleep,Number of sleep periods
count,833.000000,833.000000,833.000000,833.000000
mean,164.004871,28.791116,4.457218,0.108043
std,188.420910,96.526150,27.960655,0.392655
min,0.008866,0.000000,0.000000,0.000000
25%,4.200000,0.000000,0.000000,0.000000
50%,15.000000,0.000000,0.000000,0.000000
75%,390.933333,0.000000,0.000000,0.000000
max,470.950000,430.000000,330.383333,5.000000